{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PiroStagram</title>
    <link rel="stylesheet" href="{% static 'comment.css' %}">
</head>
<body>
    <div class="comment_container">
        <div class="comment_header">
            <a href="{% url 'post:detail' post.id %}">
                <p>댓글</p>
            </a>
        </div>
        <div class="comments">
            {% for comment in comments %}
                <div class="comment">
                    <img src="{% static 'assets/images/profilePicture.png' %}" class="profile_image" alt="Image">
                    <div class="content">
                        <p class="user">Pirogramming</p>
                        <p>{{ comment.content }}</p>
                    </div>
                    <a href="{% url 'comment:delete' post.pk comment.pk %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                        </svg>
                    </a>
                </div>
            {% empty %}
                <p>댓글이 없습니다. 첫 번째 댓글을 작성해보세요!</p>
            {% endfor %}
        </div>
        <form action="" method="POST">
            {% csrf_token %}
            <input type="text" name="content" placeholder="댓글을 입력하세요" required>
            <button type="submit">댓글 작성하기</button>
        </form>
    </div>
</body>
</html>